__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
*.egg

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml

dist/
build/
python_env/
python_dist/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
